[Unit]
Description=Node exporter
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/node_exporter/node_exporter --collector.systemd

[Install]
WantedBy=multi-user.target

